[submodule "lain"]
	path = lain
	url = git@github.com:lcpz/lain.git
[submodule "freedesktop"]
	path = freedesktop
	url = git@github.com:lcpz/awesome-freedesktop.git
[submodule "radical"]
	path = radical
	url = git@github.com:Elv13/radical.git
